


/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #f2f2f2;
  position: relative;
  height: 100vh;
}

button:not([disabled]) {
  cursor: pointer;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-black: black;
  --color-white: white;
  --color-road: #FFFFFF;
}

/* Dark-mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-black: black;
    --color-white: white;
    --color-road: #1C1C1C;
  }
}




/********************/
/* ALGEMENE TEKST - STYLING */
/********************/

h1 {
  font-family: 'Inter', sans-serif;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.7em;
}

/********************/
/* ALGEMENE LAYOUT - STYLING */
/********************/



body header {
  display: flex;
  justify-content: start;
  padding: 30px;
  gap: 1.5em;
}

body main>section {
  position: fixed;
  bottom: 0;
}


ol {
  --size-auto: 22vw;
  --space-auto: 1vw;

  list-style: none;
  margin: 0;
  padding: 0;
  width: 100vw;

  display: grid;
  grid-template-columns: repeat(3, var(--size-auto));
  column-gap: var(--space-auto);

  padding-left: calc((100vw - 3 * var(--size-auto) - 2 * var(--space-auto)) * .7);
  background-color: var(--color-road);
  border-radius: 50px 50px 0 0;

  background-image:
    repeating-linear-gradient(to right,
      #f2f2f2 0% 20%,
      transparent 20% 50%);

  background-size: 20% 3%;
  background-repeat: repeat-x;
  background-position: center center;
}

ol li {
  width: 100%;
  display: block;

  justify-self: center;
  align-self: end;
  padding-bottom: 2vw;
}

ol li button {
  width: 100%;
  display: block;

  position: relative;

  padding: 0;
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

ol li button img {
  width: 100%;
  display: block;
}



/* *************************************** */
/* TRAFFIC LIGHT - TEXT
/* *************************************** */

article:nth-of-type(1) {
  position: fixed;
  right: 5vw;
  bottom: 30vw;
  z-index: 100;

  display: flex;
  justify-content: end;
  flex-flow: row wrap;
  gap: 0.5vw;
}

/* PLAY - PAUSE BUTTON */

main article section button img.PlayPause {
  content:url("../images/icons/pause.svg");
}



/* *************************************** */
/* TRAFFIC LIGHT - BUTTON
/* *************************************** */


article:nth-of-type(1) section:nth-of-type(1) {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em 1em 1em 1em;
  border: 1px solid #E9E8E8;
  padding: 1vw 2vw 1vw 1vw;


  display: grid;
  column-gap: 1vw;
  grid-template-columns: max-content max-content;
}

article:nth-of-type(1) section:nth-of-type(1) button {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;

  padding: 0;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  scale: 0.8;
}

article:nth-of-type(1) section:nth-of-type(1) h3 {
  margin: 0;
}

article:nth-of-type(1) section:nth-of-type(1) p {
  margin: 0;
}


article:nth-of-type(1) section:nth-of-type(2) {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border-radius: 1em 1em 1em 1em;
  border: 1px solid #E9E8E8;
  padding: 1vw;
}

input {
  position: fixed;
  left:-9999em;
  /* Inmiddels rond Amstelveen, mocht van Sanne. */
}

label {
  display:block;
	height:3em;
	aspect-ratio:1/1;
	border-radius:50%;
  background: repeating-linear-gradient(#f2f2f2, #e2e2e2 5px);
  cursor: pointer;
}

input#Green:checked + label {
  background: repeating-linear-gradient(#A4F455, #7fc43b 5px);
}

input#Red:checked + label {
  background: repeating-linear-gradient(#f45555, #ce4141 5px);
}



/* JS - TRAFFIC LIGHT */ 

/* article:nth-of-type(1) section:nth-of-type(2) button:nth-of-type(1).GreenLight {
  background: repeating-linear-gradient(#A4F455, #7fc43b 5px);
}

article:nth-of-type(1) section:nth-of-type(2) button:nth-of-type(2).RedLight {
  background: repeating-linear-gradient(#f45555, #ce4141 5px);
} */




/* --------------------------------------- */
/* Car 1: BMW Isetta 1-door Cabriolet 1955 */
/* --------------------------------------- */

ol li:nth-of-type(1) {
  width: 60%;
}

ol li:nth-of-type(1) button:hover {
  filter: drop-shadow(0 0 .5em dodgerblue);
}

ol li:nth-of-type(1) button:active {
  filter: drop-shadow(0 0 .5em var(--color-white));
}

ol li:nth-of-type(1) button img:nth-of-type(1) {
  position: relative;
  width: 100%;
}

ol li:nth-of-type(1) button img:nth-of-type(2) {
  position: absolute;
  right: 9.7%;
  bottom: 2%;
  width: 19%;
  scale: 1.2;
}


/* --------------------------------- */
/* Car 2: BMW Z1 (E30) Roadster 1989 */
/* --------------------------------- */

ol li:nth-of-type(2) {
  width: 100%;
}


ol li:nth-of-type(2) button:hover {
  filter: drop-shadow(0 0 .5em dodgerblue);
}

ol li:nth-of-type(2) button:active {
  filter: drop-shadow(0 0 .5em var(--color-white));
}

ol li:nth-of-type(2) button img:nth-of-type(1) {
  position: relative;
  width: 100%;
}

ol li:nth-of-type(2) button img:nth-of-type(2) {
  position: absolute;
  left: 7.5%;
  bottom: 1.5%;
  width: 19%;
}

ol li:nth-of-type(2) button img:nth-of-type(3) {
  position: absolute;
  right: 8%;
  bottom: 1.5%;
  width: 19%;
}



/* ------------------------------------ */
/* Car 3: BMW 3-Series (E46) Coupé 1997 */
/* ------------------------------------ */

ol li:nth-of-type(3) {
  width: 95%;
}

ol li:nth-of-type(3) button:hover {
  filter: drop-shadow(0 0 .5em dodgerblue);
}

ol li:nth-of-type(3) button:active {
  filter: drop-shadow(0 0 .5em var(--color-white));
}

ol li:nth-of-type(3) button img:nth-of-type(1) {
  position: relative;
  width: 100%;
}

ol li:nth-of-type(3) button img:nth-of-type(2) {
  position: absolute;
  left: 12%;
  bottom: 1%;
  width: 19%;
  scale: 1;
}

ol li:nth-of-type(3) button img:nth-of-type(3) {
  position: absolute;
  right: 4.5%;
  bottom: 0%;
  width: 19%;
  scale: 0.95;
}





/* ----------------------------------------------- */
/* Car 4: BMW 1-Series (E81) 3-door Hatchback 2007 */
/* ----------------------------------------------- */

ol li:nth-of-type(4) {
  width: 90%;
}

ol li:nth-of-type(4) button:hover {
  filter: drop-shadow(0 0 .5em dodgerblue);
}

ol li:nth-of-type(4) button:active {
  filter: drop-shadow(0 0 .5em var(--color-white));
}

ol li:nth-of-type(4) button img:nth-of-type(1) {
  position: relative;
  width: 100%;
}

ol li:nth-of-type(4) button img:nth-of-type(2) {
  position: absolute;
  left: 7.3%;
  bottom: 0%;
  width: 19%;
  scale: 0.89;
}

ol li:nth-of-type(4) button img:nth-of-type(3) {
  position: absolute;
  right: 5.7%;
  bottom: 0%;
  width: 19%;
  scale: 0.89;
}





/* ------------------------------ */
/* Car 5: BMW i8 (I12) Coupé 2014 */
/* ------------------------------ */

ol li:nth-of-type(5) {
  width: 100%;
}


ol li:nth-of-type(5) button:hover {
  filter: drop-shadow(0 0 .5em dodgerblue);
}

ol li:nth-of-type(5) button:active {
  filter: drop-shadow(0 0 .5em var(--color-white));
}

ol li:nth-of-type(5) button img:nth-of-type(1) {
  position: relative;
  width: 100%;
}

ol li:nth-of-type(5) button img:nth-of-type(2) {
  position: absolute;
  left: 7%;
  bottom: -1%;
  width: 19%;
  scale: 0.90;
}

ol li:nth-of-type(5) button img:nth-of-type(3) {
  position: absolute;
  right: 8%;
  bottom: -1%;
  width: 19%;
  scale: 0.90;
}



/* ------------------------------------- */
/* Car 6: BMW i4 M (I04) Liftback M 2021 */
/* ------------------------------------- */

ol li:nth-of-type(6) {
  width: 100%;
}


ol li:nth-of-type(6) button:hover {
  filter: drop-shadow(0 0 .5em dodgerblue);
}

ol li:nth-of-type(6) button:active {
  filter: drop-shadow(0 0 .5em var(--color-white));
}

ol li:nth-of-type(6) button img:nth-of-type(1) {
  position: relative;
  width: 100%;
}

ol li:nth-of-type(6) button img:nth-of-type(2) {
  position: absolute;
  left: 10%;
  bottom: 0%;
  width: 19%;
  scale: 0.9;
}

ol li:nth-of-type(6) button img:nth-of-type(3) {
  position: absolute;
  right: 6%;
  bottom: 0%;
  width: 19%;
  scale: 0.9;
}





/* ---------------- */
/* CAR ANIMATIONS   */
/* ---------------- */

ol li button {
  animation-name:driving;
  animation-duration:4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  animation-play-state:paused; /* de animatie staat op pauze */
}

ol li button.play img:nth-of-type(2),
ol li button.play img:nth-of-type(3) {
  animation-name:rotating;
  animation-duration:1.25s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  /* animation-play-state:paused;  */
  /* de animatie staat op pauze */
}

/* Animation: car 1 */ 
ol li:nth-of-type(1) button {
  animation-delay: 2.2s;
}

ol li:nth-of-type(1) button img:nth-of-type(2) {
  animation-delay: 2.2s;
}

/* Animation: car 2 */ 
ol li:nth-of-type(2) button {
  animation-delay: 1.2s;
}

ol li:nth-of-type(2) button img:nth-of-type(2),
ol li:nth-of-type(2) button img:nth-of-type(3) {
  animation-delay: 1.2s;
}

/* Animation: car 3 */ 
ol li:nth-of-type(3) button {
  animation-delay: 0.2s;
}

ol li:nth-of-type(3) button img:nth-of-type(2),
ol li:nth-of-type(3) button img:nth-of-type(3) {
  animation-delay: 0.2s;
}

/* Animation: car 4 */ 
ol li:nth-of-type(4) button {
  animation-delay: 2s;
}

ol li:nth-of-type(4) button img:nth-of-type(2),
ol li:nth-of-type(4) button img:nth-of-type(3) {
  animation-delay: 2s;
}

/* Animation: car 5 */ 
ol li:nth-of-type(5) button {
  animation-delay: 1s;
}

ol li:nth-of-type(5) button img:nth-of-type(2),
ol li:nth-of-type(5) button img:nth-of-type(3) {
  animation-delay: 1s;
}

/* Animation: car 6 */ 
ol li:nth-of-type(6) button {
  animation-delay: 0s;
}

ol li:nth-of-type(6) button img:nth-of-type(2),
ol li:nth-of-type(6) button img:nth-of-type(3) {
  animation-delay: 0s;
}

/* Play animations */
.play {
  animation-play-state: running;
}


@keyframes driving {
  0% {
    margin-left: 0vw;
  }

  50% {
    margin-left: 100vw;
    opacity: 1;
  }

  51% {
    margin-left: 100vw;
    opacity: 0;
  }

  59% {
    margin-left: -100vw;
    opacity: 0;
  }

  60% {
    margin-left: -100vw;
    opacity: 1;
  }

}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}